<div class="container-fluid">
  <ul class="nav justify-content-center nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/projects">Projects</a>
    </li>
    <li class="nav-item">
      <a routerLink="">
        <span class="material-icons-outlined brand">
          diamond
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Contact</a>
    </li>
  </ul>
</div>
