<div class="row">
  <div class="col-sm-8 justify--center">
    <p>
      Always learning. Always growing. These are two core concepts that I live by. I'm a naturally
      curious person and have been for as long as I can remember. That has led me to pick up a wide
      variety of skills and hobbies. It's also allowed me to discover my love of problem solving.
      Imagine my excitement when I first learned about coding and how it's 99% problem solving!
    </p>
    <p>
      My father was an entrepeneur working in the automation industry while I was growing up, so
      I was no stranger to technology. I got to dive into the world of computers and electronics
      from a very young age. It's partly thanks to this that I developed a deep love for tech. I
      believe that a firm understanding of technology in general is necessary to succeed in the
      future of our world.
    </p>
    <p>
      I chose to become a developer because I feel it's a crucial skill set to have for the path
      that I would like to carve out for my future. (re-write p 2 and 3 because they're garbage)
    </p>
  </div>
</div>
